body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1749px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:183px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:206px;
  width:917px;
  height:183px;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:84px;
  width:913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:275px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:393px;
  width:917px;
  height:275px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:246px;
  width:100px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:470px;
  width:100px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:42px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:601px;
  width:71px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u1088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:592px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:305px;
  width:117px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:113px;
  word-wrap:break-word;
}
#u1092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:471px;
  width:100px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:393px;
  width:87px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u1096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:602px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:42px;
  background:inherit;
  background-color:rgba(233, 233, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:526px;
  width:85px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u1100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:42px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:601px;
  width:71px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:622px;
  width:0px;
  height:0px;
}
#u1102_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:130px;
  height:8px;
}
#u1102_seg1 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:622px;
  width:0px;
  height:0px;
}
#u1104_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:41px;
  height:8px;
}
#u1104_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:465px;
  width:71px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:67px;
  word-wrap:break-word;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:465px;
  width:0px;
  height:0px;
}
#u1108_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-118px;
  width:8px;
  height:122px;
}
#u1108_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-124px;
  width:18px;
  height:19px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-67px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:592px;
  width:0px;
  height:0px;
}
#u1110_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-85px;
  width:8px;
  height:89px;
}
#u1110_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-91px;
  width:18px;
  height:19px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-51px;
  width:100px;
  word-wrap:break-word;
}
#u1112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:42px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:601px;
  width:71px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u1114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:463px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:206px;
  width:272px;
  height:462px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:161px;
  width:268px;
  word-wrap:break-word;
}
#u1116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:150px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:728px;
  width:1222px;
  height:781px;
}
#u1119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:48px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:48px;
  font-size:20px;
  text-align:left;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u1121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:48px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:0px;
  width:484px;
  height:48px;
  font-size:20px;
  text-align:left;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:480px;
  word-wrap:break-word;
}
#u1123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:48px;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:0px;
  width:564px;
  height:48px;
  font-size:20px;
  text-align:left;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:560px;
  word-wrap:break-word;
}
#u1125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:195px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:169px;
  height:195px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:165px;
  word-wrap:break-word;
}
#u1127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:195px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:48px;
  width:484px;
  height:195px;
  font-size:20px;
  text-align:left;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:480px;
  word-wrap:break-word;
}
#u1129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:195px;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:48px;
  width:564px;
  height:195px;
  font-size:20px;
  text-align:left;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:560px;
  word-wrap:break-word;
}
#u1131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:241px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:243px;
  width:169px;
  height:241px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:106px;
  width:165px;
  word-wrap:break-word;
}
#u1133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:241px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:243px;
  width:484px;
  height:241px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:480px;
  word-wrap:break-word;
}
#u1135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:241px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:243px;
  width:564px;
  height:241px;
  font-size:20px;
  text-align:left;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:560px;
  word-wrap:break-word;
}
#u1137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:292px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:484px;
  width:169px;
  height:292px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:132px;
  width:165px;
  word-wrap:break-word;
}
#u1139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:292px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:484px;
  width:484px;
  height:292px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:132px;
  width:480px;
  word-wrap:break-word;
}
#u1141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:292px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:484px;
  width:564px;
  height:292px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:560px;
  word-wrap:break-word;
}
#u1143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:150px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:690px;
  width:193px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:325px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
#u1149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:311px;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:1358px;
  top:213px;
  width:391px;
  height:311px;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:148px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:1358px;
  top:150px;
  width:153px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u1153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:42px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:601px;
  width:71px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:622px;
  width:0px;
  height:0px;
  font-size:20px;
  color:#666666;
}
#u1155_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:32px;
  height:8px;
}
#u1155_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:622px;
  width:0px;
  height:0px;
  color:#666666;
}
#u1157_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u1157_seg1 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:326px;
  width:0px;
  height:0px;
  font-size:20px;
  color:#666666;
}
#u1159_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u1159_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-4px;
  width:8px;
  height:304px;
}
#u1159_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:292px;
  width:15px;
  height:8px;
}
#u1159_seg3 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:287px;
  width:19px;
  height:18px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:128px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:622px;
  width:0px;
  height:0px;
  font-size:20px;
  color:#666666;
}
#u1161_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:102px;
  height:8px;
}
#u1161_seg1 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:303px;
  width:94px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:90px;
  word-wrap:break-word;
}
#u1165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:483px;
  width:100px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:33px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:393px;
  width:71px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:601px;
  width:0px;
  height:0px;
  font-size:20px;
  color:#666666;
}
#u1169_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-110px;
  width:8px;
  height:110px;
}
#u1169_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-110px;
  width:27px;
  height:8px;
}
#u1169_seg2 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-115px;
  width:19px;
  height:18px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:471px;
  width:0px;
  height:0px;
  color:#666666;
}
#u1171_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-35px;
  width:8px;
  height:35px;
}
#u1171_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-35px;
  width:9px;
  height:8px;
}
#u1171_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-45px;
  width:8px;
  height:18px;
}
#u1171_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-51px;
  width:18px;
  height:19px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-32px;
  width:100px;
  word-wrap:break-word;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:393px;
  width:0px;
  height:0px;
  font-size:20px;
  color:#666666;
}
#u1173_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-48px;
  width:8px;
  height:52px;
}
#u1173_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-54px;
  width:18px;
  height:19px;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:547px;
  width:0px;
  height:0px;
  font-size:20px;
  color:#666666;
}
#u1175_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u1175_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-44px;
  width:8px;
  height:48px;
}
#u1175_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-44px;
  width:14px;
  height:8px;
}
#u1175_seg3 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-49px;
  width:19px;
  height:18px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:483px;
  width:0px;
  height:0px;
  color:#666666;
}
#u1177_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-57px;
  width:8px;
  height:61px;
}
#u1177_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-63px;
  width:18px;
  height:19px;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-37px;
  width:100px;
  word-wrap:break-word;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:602px;
  width:0px;
  height:0px;
  color:#666666;
}
#u1179_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-26px;
  width:8px;
  height:26px;
}
#u1179_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-26px;
  width:9px;
  height:8px;
}
#u1179_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-34px;
  width:8px;
  height:16px;
}
#u1179_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-40px;
  width:18px;
  height:19px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-26px;
  width:100px;
  word-wrap:break-word;
}
#u1181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:422px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u1183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:565px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:530px;
  width:0px;
  height:0px;
  color:#666666;
}
#u1185_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u1185_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:22px;
  width:18px;
  height:19px;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  word-wrap:break-word;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:410px;
  width:0px;
  height:0px;
  color:#666666;
}
#u1187_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u1187_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-4px;
  width:8px;
  height:195px;
}
#u1187_seg2 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:178px;
  width:18px;
  height:19px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:410px;
  width:0px;
  height:0px;
  color:#666666;
}
#u1189_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:16px;
  height:8px;
}
#u1189_seg1 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-129px;
  width:8px;
  height:133px;
}
#u1189_seg2 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-129px;
  width:276px;
  height:8px;
}
#u1189_seg3 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:-129px;
  width:8px;
  height:320px;
}
#u1189_seg4 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:178px;
  width:18px;
  height:19px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:-133px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:305px;
  width:114px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:110px;
  word-wrap:break-word;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:393px;
  width:0px;
  height:0px;
  color:#666666;
}
#u1193_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-46px;
  width:8px;
  height:50px;
}
#u1193_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-52px;
  width:18px;
  height:19px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:580px;
  width:0px;
  height:0px;
  color:#666666;
}
#u1195_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u1195_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-4px;
  width:8px;
  height:25px;
}
#u1195_seg2 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:8px;
  width:18px;
  height:19px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:547px;
  width:0px;
  height:0px;
  color:#666666;
}
#u1197_seg0 {
  border-width:0px;
  position:absolute;
  left:-130px;
  top:-4px;
  width:130px;
  height:8px;
}
#u1197_seg1 {
  border-width:0px;
  position:absolute;
  left:-130px;
  top:-56px;
  width:8px;
  height:60px;
}
#u1197_seg2 {
  border-width:0px;
  position:absolute;
  left:-130px;
  top:-56px;
  width:14px;
  height:8px;
}
#u1197_seg3 {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:-61px;
  width:19px;
  height:18px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:495px;
  width:0px;
  height:0px;
  color:#666666;
}
#u1199_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u1199_seg1 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-62px;
  width:8px;
  height:66px;
}
#u1199_seg2 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-62px;
  width:19px;
  height:8px;
}
#u1199_seg3 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-67px;
  width:19px;
  height:18px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-40px;
  width:100px;
  word-wrap:break-word;
}
